@use '../../styles/variables' as *;

.signup-container {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .signup-box {
    width: 70%;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;

    .MuiOutlinedInput-root {
      &.Mui-focused fieldset {
        border-color: $primary;
      }
    }

    .MuiInputLabel-root {
      &.Mui-focused {
        color: $primary;
      }
    }

    .signup-button {
      width: 50%;
      min-width: 150px;
      padding: 0.75rem;
      background: $primary;
      color: $white;
      border: none;
      border-radius: 25px;
      font-size: 1rem;
      cursor: pointer;
      margin: 20px 0;
      transition: background 0.2s ease;
      &:disabled {
        opacity: 0.6;
      }

      &:hover {
        background: $charcoal;
      }
    }
  }
}
