@use '../../styles/variables' as *;

.login-signup-container {
  background-image: url('../../assets/images/blog-cover.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 59.2%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    transition: all 0.3s ease;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-image: url('../../assets/logos/verb-transparent-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    pointer-events: none;
    z-index: 10;
    transition: all 0.3s ease;
  }

  .login-box,
  .signup-box {
    min-width: 400px;
    position: relative;
    z-index: 20;

    .login-signup-tabs {
      position: absolute;
      top: 100px;
      width: 100%;
      border-radius: 25px;

      .MuiTab-root {
        border-radius: 25px;
      }
    }
  }
  @media (max-width: 640px) {
    justify-content: center;
    align-items: flex-start;

    &::after {
        visibility: hidden;
    }
    &::before {
      background-color: rgba(0, 0, 0, 1);
      border: 10px solid $black;
      width: 100%;
      height: 70px;
      top: 0;
      left: 0;
      z-index: 100;
    }
  }
}
