@import '../../styles/variables';

.login-container {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  .login-box {
    width: 70%;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;

    .MuiOutlinedInput-root {
    &.Mui-focused fieldset {
      border-color: $primary;
    }
  }

  .MuiInputLabel-root {
    &.Mui-focused {
      color: $primary;
    }
  }

    .login-button {
      width: 100%;
      min-width: 150px;
      padding: 0.5rem;
      background: $primary;
      color: $white;
      border: none;
      font-size: 0.875rem;
      cursor: pointer;
      margin: 20px 0;
      transition: background 0.2s ease;
      &:disabled{
        opacity: 0.6;
      }

      &:hover {
        background: $charcoal
      }
    }
  }
}
